In [4]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [5]:
df = pd.read_pickle('../hw_1/dummy.pkl')

In [6]:
df.head()

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,@user when a father is dysfunctional and is s...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,@user @user thanks for #lyft credit i can't us...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thank, lyft, credit, use, cause, offer, wheel..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"
3,4,0.0,#model i love u take with u all the time in ...,"[model, love, you, take, with, you, all, the, ...","[model, love, take, time, ur]","[model, love, take, time, ur]","[model, love, take, time, ur]"
4,5,0.0,factsguide: society now #motivation,"[factsguide, society, now, motivation]","[factsguide, society, motivation]","[factsguid, societi, motiv]","[factsguide, society, motivation]"

In [7]:
def list_to_string(source_list):
    return ' '.join(source_list)

In [8]:
df['tweet_stemmed_string'] = df['tweet_stemmed'].apply(list_to_string)

In [9]:
df['tweet_lemmatized_string'] = df['tweet_lemmatized'].apply(list_to_string)

In [10]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [11]:
count_vectorizer = CountVectorizer(ngram_range=[1,1], 
                                   analyzer='word', 
                                   binary=False, 
                                   tokenizer=str.split, 
                                   max_df=0.9,
                                   max_features = 1000,
                                   stop_words='english')

In [12]:
# Создаем the Bag-of-Words модель
bag_of_words = count_vectorizer.fit_transform(df['tweet_stemmed_string'])

# Отобразим Bag-of-Words модель как DataFrame
feature_names = count_vectorizer.get_feature_names()
pd.DataFrame(bag_of_words.toarray(), columns = feature_names)

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yeah,year,yesterday,yo,yoga,york,young,youtub,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49155,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49156,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# Создаем the Bag-of-Words модель
bag_of_words = count_vectorizer.fit_transform(df['tweet_lemmatized_string'])

# Отобразим Bag-of-Words модель как DataFrame
feature_names = count_vectorizer.get_feature_names()
pd.DataFrame(bag_of_words.toarray(), columns = feature_names)

,able,absolutely,accept,account,act,action,actor,actually,adapt,add,...,yesterday,yo,yoga,york,young,youth,youtube,yr,yrs,yummy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49155,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49156,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49158,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
tfidf_vectorizer = TfidfVectorizer(ngram_range=[1,1], 
                                   analyzer='word', 
                                   binary=False, 
                                   tokenizer=str.split, 
                                   max_df=0.9,
                                   max_features = 2000,
                                   stop_words='english')

In [15]:
# Создаем the Bag-of-Words модель
bag_of_words = tfidf_vectorizer.fit_transform(df['tweet_stemmed_string'])

# Отобразим Bag-of-Words модель как DataFrame
feature_names = tfidf_vectorizer.get_feature_names()
pd.DataFrame(bag_of_words.toarray(), columns = feature_names)

,aap,abl,absolut,abt,abus,accept,account,achiev,act,action,...,yoga,yolo,york,young,youth,youtub,yoy,yr,yum,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
# Создаем the Bag-of-Words модель
bag_of_words = tfidf_vectorizer.fit_transform(df['tweet_lemmatized_string'])

# Отобразим Bag-of-Words модель как DataFrame
feature_names = tfidf_vectorizer.get_feature_names()
pd.DataFrame(bag_of_words.toarray(), columns = feature_names)

,aap,able,absolutely,abt,abuse,accept,account,act,action,active,...,yolo,york,young,youth,youtube,yoy,yr,yrs,yum,yummy
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49154,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49155,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49156,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49158,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# Загружаем данные
data = open('corpus').read()
labels, texts = [], []
for i, line in enumerate(data.split("\n")):
    content = line.split()
    labels.append(content[0])
    texts.append(" ".join(content[1:]))

# создаем df
trainDF = pd.DataFrame()
trainDF['text'] = texts
trainDF['label'] = labels
trainDF.head(5)

                                                text       label
0  Stuning even for the non-gamer: This sound tra...  __label__2
1  The best soundtrack ever to anything.: I'm rea...  __label__2
2  Amazing!: This soundtrack is my favorite music...  __label__2
3  Excellent Soundtrack: I truly like this soundt...  __label__2
4  Remember, Pull Your Jaw Off The Floor After He...  __label__2

In [18]:
from sklearn import model_selection, preprocessing, linear_model
from sklearn.metrics import accuracy_score

train_x, valid_x, train_y, valid_y = model_selection.train_test_split(trainDF['text'], trainDF['label'])

# labelEncode целевую переменную
encoder = preprocessing.LabelEncoder()
train_y = encoder.fit_transform(train_y)
valid_y = encoder.fit_transform(valid_y)

In [19]:
count_vectorizer.fit(trainDF['text'])

xtrain_count =  count_vectorizer.transform(train_x)
xvalid_count =  count_vectorizer.transform(valid_x)

classifier = linear_model.LogisticRegression()
classifier.fit(xtrain_count, train_y)
predictions = classifier.predict(xvalid_count)
# predictions
accuracy_score(valid_y, predictions)

0.8064

In [20]:
tfidf_vectorizer.fit(trainDF['text'])

xtrain_count =  tfidf_vectorizer.transform(train_x)
xvalid_count =  tfidf_vectorizer.transform(valid_x)

classifier_tfidf = linear_model.LogisticRegression()
classifier_tfidf.fit(xtrain_count, train_y)
predictions_tfidf = classifier_tfidf.predict(xvalid_count)
# predictions
accuracy_score(valid_y, predictions_tfidf)

0.8356

In [21]:
df_dict = {'vectorizer': ['count_vectorizer', 
                          'tfidf_vectorizer'],
           'accuracy': [accuracy_score(valid_y, predictions), 
                        accuracy_score(valid_y, predictions_tfidf)]
          }

result_df = pd.DataFrame.from_dict(df_dict)
result_df
# Увличение количества фич при вектаризации положительно сказывается на accuracy.

         vectorizer  accuracy
0  count_vectorizer    0.8064
1  tfidf_vectorizer    0.8356

PCA не осилил. Не очень понимаю, как именно это сделать.

In [22]:
from sklearn.decomposition import PCA

In [26]:
print(xtrain_count)

  (0, 1975)	0.20557744943467282
  (0, 1735)	0.21451438163245995
  (0, 1627)	0.16070583498557928
  (0, 1298)	0.14619666962671152
  (0, 1275)	0.16702941700804358
  (0, 1134)	0.4528175430427773
  (0, 1130)	0.215312999655025
  (0, 1129)	0.3249430000621613
  (0, 1057)	0.1878151224450348
  (0, 1002)	0.08448924737736635
  (0, 935)	0.1844646915649541
  (0, 933)	0.16346242440621578
  (0, 564)	0.14935534851057763
  (0, 547)	0.22250674402251241
  (0, 478)	0.11651987850574934
  (0, 196)	0.1844646915649541
  (0, 165)	0.12872945628993993
  (0, 60)	0.4903872732186473
  (1, 1996)	0.18413428609114083
  (1, 1934)	0.17233037167922183
  (1, 1868)	0.1707331442151357
  (1, 1525)	0.21186846502282614
  (1, 1510)	0.1858103645883745
  (1, 1413)	0.11187700162083208
  (1, 1294)	0.19037000198575987
  :	:
  (7498, 905)	0.25175986829174357
  (7498, 899)	0.18248052892976574
  (7498, 819)	0.2731961003321897
  (7498, 748)	0.11027933915763208
  (7498, 615)	0.24593189176462116
  (7498, 593)	0.17867340414503843
  (7498, 227)	0.31461361713611485
  (7498, 226)	0.21055044316249713
  (7498, 219)	0.09662237638311517
  (7498, 199)	0.14577699550598736
  (7498, 51)	0.18887291323188
  (7499, 1898)	0.20791039670766356
  (7499, 1431)	0.3477673897169074
  (7499, 1403)	0.2121666078046251
  (7499, 1396)	0.16556665811015134
  (7499, 942)	0.2938669146351225
  (7499, 917)	0.1746753458699495
  (7499, 910)	0.26532616759189215
  (7499, 885)	0.27360373429671814
  (7499, 759)	0.3105985397872782
  (7499, 750)	0.2924324968597475
  (7499, 748)	0.15316644324049303
  (7499, 675)	0.3359872577769956
  (7499, 219)	0.2683967067828
  (7499, 163)	0.333024768103344

In [37]:
from sklearn import datasets
iris = datasets.load_iris()
X = iris.data

In [39]:
type(X)

numpy.ndarray

In [34]:
pca = PCA(n_components=3)
pca.fit(X)
X = pca.transform(X)

In [35]:
X.shape

(150, 3)